@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      @include easeOut; //test

      &:hover {
        color: $secondary-color;
        //@include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

//aligning pages using grid css
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }
}

//Work page
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #333f solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//Skills Page
.boxes1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.2rem;
    border: 1px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 1rem;
    @include easeOut;

    &:hover {
      padding: 0.2rem 1;
      background: $secondary-color;
      color: set-text-color($secondary-color);

      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

.skills {
  width: 500px;
  margin: 60px auto;
  color: rgb(3, 3, 3);
  list-style: none;
  font-family: sans-serif;
  padding: 0;
}

.skills h6 {
  width: 0px;
  margin: 10px auto;
  float: right;
  color: rgb(3, 3, 3);
  font-family: sans-serif;
  padding: 2;
}

.skills li {
  margin: 20px 0;
}

.bar {
  background: #353b48;
  display: block;
  height: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(43, 41, 39, 1);
}

.bar span {
  height: 4px;
  float: left;
  background: #2187e7;
}

//skills bar
.ue4 {
  width: 80%;
  animation: ue4 3.5s;
}

.python {
  width: 65%;
  animation: python 2.5s;
}

.html {
  width: 90%;
  animation: html 4s;
}

.javascript {
  width: 55%;
  animation: javascript 2.2s;
}

.java {
  width: 40%;
  animation: java 2s;
}

.scss {
  width: 40%;
  animation: scss 2s;
}

.sqf {
  width: 100%;
  animation: sqf 5s;
}

//animation for skills
@keyframes ue4 {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes python {
  0% {
    width: 0%;
  }

  100% {
    width: 65%;
  }
}

@keyframes html {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }

  100% {
    width: 55%;
  }
}

@keyframes java {
  0% {
    width: 0%;
  }

  100% {
    width: 40%;
  }
}

@keyframes scss {
  0% {
    width: 0%;
  }

  100% {
    width: 40%;
  }
}

@keyframes sqf {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

//Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5;
      background: $secondary-color;
      color: set-text-color($secondary-color);

      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

//Button Styles

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend.btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend.btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";